body {
  background-color: aquamarine;
}

hr {
  border-style: none;
  border-top-style: dotted;

  border-width: 5px;

  width: 15%;
}

img {
  height: 100px;
  width: 100px;
}
h1{
   color: rgb(150, 11, 92);
}
